<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>By District Table</h2>
        </div>
      </div>
      <div class="row" [ngClass]="routeAnimationsElements">
          <div class="col">
            <form [formGroup]="inputForm" #formDirective="ngForm">
                <table class="example-full-width" cellspacing="0">
                  <tr>
                    <td>
                      <mat-form-field>
                        <mat-label>Select Program</mat-label>
                        <mat-select formControlName="prog">
                          <mat-option *ngFor="let p of prog" [value]="p.pid">{{p.value}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </td>
                    <td>
                      <mat-form-field>
                        <mat-label>Select Province</mat-label>
                        
                        <mat-select formControlName="prov">
                          <mat-option *ngFor="let p of prov" [value]="p.province">{{p.province}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </td>
                    <td>
        
                      <mat-form-field>
                        <mat-label>Select District</mat-label>
                        <mat-select formControlName="district">
                          <mat-option *ngFor="let d of district" [value]="d.value">{{d.value}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </td>
                    <td>
                      <button [disabled]="!inputForm.valid" mat-raised-button color="primary"
                        (click)="onGenerate(formDirective)">Generate Report</button>
                    </td>
                  </tr>
                </table>
              </form>
            </div>
          <div  class="col-12 col-sm-auto">
            <input type="button" (click)="export()" value="Export to Excel" >
          </div>
    
        </div>
        <div class="row" *ngIf="provselect">
            <div class="col-12">
            <h4>{{provselect}}, District {{distselect}}</h4>
            </div>
        </div>
        <br>
        <div [ngClass]="routeAnimationsElements">
            <ag-grid-angular 
              style="width: 100%; height: 600px; margin-bottom: 20px;"
              class="ag-theme-alpine"
              [rowData]="rowData" 
              [columnDefs]="columnDefs"
              [modules]="modules"
              [components]="components"
              [excelStyles]="excelStyles"
              [groupDefaultExpanded]=-1
              [defaultColDef]="defaultColDef"
              [autoGroupColumnDef]="autoGroupColumnDef"
              (gridReady)="onGridReady($event)"
           
    
              >
          </ag-grid-angular>
          </div> <br>
  </div>
  
  
  