.caps {
  text-transform: uppercase;
}

.image {
  width: 50%;
  height: 100%;
  object-fit: cover;
}

mat-card {
  margin-bottom: 20px;
  margin-top: 20px;
}

.center {
  text-align: center;

  font-size: 1.5vw;
}
table,
.table {
  height: 400px !important;
}
tr {
  line-height: 25px;
  min-height: 25px;
  height: 25px;
}

td {
  a {
    color: hotpink;
  }
}

@media screen and (max-width: 750px) {
  .center {
    font-size: 4vw;
  }
}
