<div class="container">
  <div class="row">
      <div class="col-12">
          <h2>Physical Plan & Accomplishment</h2>
      </div>
    </div>
    <div class="row" [ngClass]="routeAnimationsElements">
        <div class="col-md-10">
            <em>serves as the overall physical plan & accomplishment of the department/agency/OU</em>
          </div>
        <div  class="col-md-2">
            <button style="margin:5px;" mat-raised-button class="information" (click)="exportcsv()">
                EXPORT to EXCEL
              </button> 
              <br>
        </div>
  
      </div>
      <br>
      <div [ngClass]="routeAnimationsElements">
          <ag-grid-angular 
            style="width: 100%; height: 400px;" 
            class="ag-theme-balham"
            [rowData]="rowData" 
            [columnDefs]="columnDefs"
            [columnTypes]="columnTypes"
            [components]="components"
     
            [groupDefaultExpanded]=-1
            [excelStyles]="excelStyles"
            [defaultColDef]="defaultColDef"
            [autoGroupColumnDef]="autoGroupColumnDef"
            [groupRemoveSingleChildren]="true"
            [rowSelection]="rowSelection"
            [suppressAggFuncInHeader]= "true"
            (gridReady)="onGridReady($event)"
            [groupRowAggNodes]="groupRowAggNodes"
            (cellClicked)="onCellClicked($event)"
            (cellValueChanged)="onCellValueChanged($event)"
            >
        </ag-grid-angular>
        </div>
        <div class="row item" [ngClass]="routeAnimationsElements">
            <div class="col-9">
                <h5>Last Updated: {{date_updated | amTimeAgo }}</h5>
                <button style="margin:5px;" mat-button class="success" (click)="getLogs()">See Logs</button>
            </div>
          </div>
</div>


