<div class="container" rtl>
    <div class="row title" [ngClass]="routeAnimationsElements">
        <div class="col-md-12" >
            <h2 >Mid-Year Summary</h2>
            <h2><i>{{name}}</i></h2>
        </div>
        <div class="col-md-12" >
            <mat-card>
                <table class="table table-bordered midyear">
                    <thead>
                      <tr>
                        <th scope="col">Actual Physical Accomplishment vs. BED2 Target</th>
                        <th scope="col">Actual Obligation Accomplishment vs. BED1 Target</th>
                        <th scope="col">Actual Disbursement Accomplishment vs. BED3 Target</th>
                      </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td> {{pp_midyear | percent: '1.2-2'}} </td>
                        <td> {{op_midyear | percent: '1.2-2'}} </td>
                        <td> {{dp_midyear | percent: '1.2-2'}} </td>
                    </tr>  
                    </tbody>
                  </table> 
            </mat-card>
 
        </div>
    </div>
    <div class="title">
        <div class="row">
            <div class="col-md-12" [ngClass]="routeAnimationsElements">
                <mat-card>
                    <div id="chartPhysicalMidyear" style="height: 370px; width: 100%;"></div>
                </mat-card>
            
    
            </div>    
        </div>
    
        <div class="row">
            <div class="col-md-6" [ngClass]="routeAnimationsElements">
                <mat-card>
                    <div id="chartObligationMidyear" style="height: 370px; width: 100%;"></div>
                </mat-card>
            </div>
            <div class="col-md-6" [ngClass]="routeAnimationsElements">
                <mat-card>
                    <div id="chartDisbursementMidyear" style="height: 370px; width: 100%;"></div>
                </mat-card>
            </div>      
        </div>
    </div>  



    <div class="row title2" [ngClass]="routeAnimationsElements">
        <div class="col-md-12" >
            <h2 >YearEnd Summary</h2>
            <h2><i>{{name}}</i></h2>
        </div>
        <div class="col-md-12" >
            <mat-card>
                <table class="table table-bordered yearend">
                    <thead>
                      <tr>
                        <th scope="col">Actual Physical Accomplishment vs. BED2 Target</th>
                        <th scope="col">Actual Obligation Accomplishment vs. BED1 Target</th>
                        <th scope="col">Actual Disbursement Accomplishment vs. BED3 Target</th>
                   </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td> {{pp_yearend | percent: '1.2-2'}} </td>
                        <td> {{op_yearend | percent: '1.2-2'}} </td>
                        <td> {{dp_yearend | percent: '1.2-2'}} </td>
                    </tr>  
                    </tbody>
                  </table> 
            </mat-card>
 
        </div>
    </div>
<div class="title2">
    <div class="row">
        <div class="col-md-12" [ngClass]="routeAnimationsElements">
            <mat-card>
                <div id="chartPhysicalYearEnd" style="height: 370px; width: 100%;"></div>
            </mat-card>
        

        </div>    
    </div>
    <div class="row">
        <div class="col-md-6" [ngClass]="routeAnimationsElements">
            <mat-card>
                <div id="chartObligationYearEnd" style="height: 370px; width: 100%;"></div>
            </mat-card>
        </div>
        <div class="col-md-6" [ngClass]="routeAnimationsElements">
            <mat-card>
                <div id="chartDisbursementYearEnd" style="height: 370px; width: 100%;"></div>
            </mat-card>
        </div>      
    </div>
</div>

</div>
    