<div class="container" rtl>
    <div class="row" [ngClass]="routeAnimationsElements">
      <div class="col-md-12" >
        <h1 >BED123 Table</h1>
        
      </div>
    </div>
  
      <div class="row" [ngClass]="routeAnimationsElements">
        <div class="col"></div>
        <div class="col-12 col-sm-auto"><input type="button" (click)="export()" value="Export to Excel" ></div>
    </div>
  
      <div class="row">
        <div class="col-md-12" [ngClass]="routeAnimationsElements">
          <ag-grid-angular
          #agGrid
          style="width: 100%; height: 600px; margin-bottom: 20px;"
          id="myGrid"
          class="ag-theme-alpine"
          [columnDefs]="columnDefs"
          [columnTypes]="columnTypes"
          [defaultColDef]="defaultColDef"
          [context]="context"
          [autoGroupColumnDef]="autoGroupColumnDef"
          [rowSelection]="rowSelection"
          [components]="components"
          [modules]="modules"
          [suppressAggFuncInHeader]="true"
          [rowData]="rowData"
          [groupRemoveSingleChildren]="true"
          [groupDefaultExpanded]=-1
          [aggFuncs]="aggFuncs"
          [excelStyles]="excelStyles"
          (cellValueChanged)="onCellValueChanged($event)"
          (gridReady)="onGridReady($event)">
      </ag-grid-angular>
  
          </div>   
        </div>
   
    </div>
    