<div class="wrapper">
  <img [src]="product.url"  [alt]="product.name">
<h1 class="centered">{{product.name}}</h1>
</div>
<div class="container" rtl>
    <div class="row">
    
      <div class="col-md-6" *ngIf="product">
        <table class="table table-sm">
            <tr>         
              <th scope="row">Name:</th>
              <td>{{product.name}}</td>
            </tr>
            <tr>
              <th scope="row">Category:</th>
              <td>{{product.category}}</td>
            </tr>
            <tr>
              <th scope="row">Specification:</th>
              <td>{{product.spec}}</td>
            </tr>
            <tr>
              <th scope="row">Unit:</th>
              <td>{{product.unit}}</td>
            </tr>
        </table>
      </div>
      <div class="col-md-6">
  
      </div>
 
    </div>
    <div class="row" *ngIf="result">
      <div *ngFor="let i of result" class="col-md-6">  
        <div style="width:100%; height:200" *ngIf="chartReady">
          <canvas baseChart 
            [datasets]="i.datasets"
            [labels]="i.month"
            [chartType]="lineChartType"
            [colors]="lineChartColors"
            [options]="lineChartOptions"
           >
          </canvas>
        </div>
      </div>
    
    </div>

  </div>
  