// $anms-primary: mat-palette($mat-yellow);
// $anms-accent: mat-palette($mat-grey);
// $anms-warn: mat-palette($mat-red);

$anms-primary: mat-palette($mat-grey, 700, 300, 900);
$anms-accent: mat-palette($mat-deep-purple, 300);
$anms-warn: mat-palette($mat-red, 600);

$anms-theme: mat-light-theme($anms-primary, $anms-accent, $anms-warn);
