h1 {
  margin: 0 0 20px 0;
  text-transform: uppercase;
}

mat-card {
  margin: 0 0 10px 0;
  cursor: pointer;
}

.mat-fab {
  .fa-icon {
    position: relative;
    top: 4px;
  }
}

.add {
  margin: 0 0 0;
  display: block;
}

.col-md-6 {
  margin-bottom: 20px;
}

.topcorner {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.mat-progress-bar {
  height: 30px;
}
.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}
