
.image {
  width: 50%;
  height: 100%;
  object-fit: cover;
}

mat-card {
  margin-bottom: 20px;
  margin-top: 20px;
}

.center {
  text-align: center;

  font-size: 1.5vw;
}



.opened {
  color: green;
}
.closed {
  color: red;
}

@media screen and (max-width: 750px) {
  .center {
    font-size: 4vw;
  }
}



/* Just common table stuff. Really. */
table  { border-collapse: collapse; width: 100%; }
th, td { padding: 8px 16px; }
th     { background:#eee; }
h1 {
  border-radius: 25px;
  border: 3px solid #73AD21;
  padding: 10px; 
  text-align: center;

}

