
    <div class="row">
        <div class="col-12">
            <h2>Financial Plan & Accomplishment</h2>
          </div>
    </div>
    <div class="row item" [ngClass]="routeAnimationsElements">
      <div class="col-md-10">
          <em>serves as the overall financial plan & accomplishment of the department/agency/OU</em>
      </div>
      <div  class="col-md-2">
          <button style="margin:5px;" mat-raised-button class="information" (click)="exportcsv()">
              EXPORT to EXCEL
            </button> 
            <br>
      </div>

    </div>
    <br>
<div [ngClass]="routeAnimationsElements">
  <ag-grid-angular 
    style="width: 100%; height: 400px;" 
    class="ag-theme-balham"
    [rowData]="rowData" 
    [columnDefs]="columnDefs"
    [columnTypes]="columnTypes"
    [components]="components"
    [defaultColDef]="defaultColDef"
    [autoGroupColumnDef]="autoGroupColumnDef"
    [groupRowAggNodes]="groupRowAggNodes"
    [groupRemoveSingleChildren]="true"
    [groupDefaultExpanded]=-1
    [excelStyles]="excelStyles"
    [rowSelection]="rowSelection"
    [suppressAggFuncInHeader]= "true"
    (cellClicked)="addObject($event)"
    (gridReady)="onGridReady($event)"
    (cellValueChanged)="onCellValueChanged($event)"

    >
</ag-grid-angular>
</div>
<div class="row item" [ngClass]="routeAnimationsElements">
        <div class="col-md-10">
                <h5>Last Updated: {{date_updated | amTimeAgo }}</h5>
            </div>
            <div  class="col-md-2">
                    <button style="margin:5px;" mat-button class="success" (click)="getLogs()">See Logs</button> 
               
            </div>
  </div>
<br>




