<div>
    <h3 mat-dialog-title>Add Row</h3>
    <form [formGroup]="entryForm">
    <div mat-dialog-content>

        <mat-form-field appearance="fill" class="col">
            <mat-label>Commodity</mat-label>
            <mat-select formControlName="commodity_id" required>
              <mat-option *ngFor="let c of commodity" [value]="c.id">
                {{c.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>

  
      <mat-form-field appearance="fill" class="col">
        <mat-label>Area</mat-label>
        <mat-select formControlName="area" required>
          <mat-option *ngFor="let a of area" [value]="a.value">
            {{a.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill" class="col">
        <mat-label>Month</mat-label>
        <mat-select formControlName="month" required>
          <mat-option *ngFor="let m of month" [value]="m.value">
            {{m.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
  
  
    </div>
    <div mat-dialog-actions>
      <button mat-button (click)="onNoClick()">Cancel</button>
      <button   (click)="insertRow()" mat-button [disabled]="!entryForm.valid">Save</button>
  </div>
    </form>
  </div>