<div class="row header">
    <div class="col-md-12" [ngClass]="routeAnimationsElements">
      <h1 class="gradient-text">Bayanihan-II Dashboard</h1>
    </div>
  </div> 

<div class="container-fluid" rtl>

    <div class="row" [ngClass]="routeAnimationsElements">
        <div class="col-12 col-md-12">
          <mat-card>
            <table>
              <tr><th id="obligation">Obligation</th> <th id="obligation">Disbursement</th> <th id="physical">  Physical Average</th></tr>
              <tr class="center">
                <td>
                <circle-progress
                  [percent]="ob_rate"
                  [radius]="70"
                  [outerStrokeWidth]="12"
                  [innerStrokeWidth]="8"
                  [outerStrokeColor]="'#6A5ACD'"
                  [innerStrokeColor]="'#a59ce1'"
                  [animation]="true"
                  [animationDuration]="300"
                ></circle-progress>
              </td>
              <td>
                <circle-progress
                  [percent]="dis_rate"
                  [radius]="70"
                  [outerStrokeWidth]="12"
                  [innerStrokeWidth]="8"
                  [outerStrokeColor]="'#6A5ACD'"
                  [innerStrokeColor]="'#a59ce1'"
                  [animation]="true"
                  [animationDuration]="300"
                ></circle-progress>
              </td>
              <td>
                <circle-progress
                  [percent]="phys_rate"
                  [radius]="70"
                  [outerStrokeWidth]="12"
                  [innerStrokeWidth]="8"
                  [outerStrokeColor]="'#FF8C00'"
                  [innerStrokeColor]="'#ffae4c'"
                  [animation]="true"
                  [animationDuration]="300"
                ></circle-progress>
              </td>
            
            </tr>
            </table>
          </mat-card>
        </div>
  
     
      </div>

      <div class="row" [ngClass]="routeAnimationsElements">
        <div class="col-12 col-md-6">
          <mat-card>
            <table id="obligation">
              <tr><th>Financial Status by PPA </th></tr>
              <tr><td>  <div id="chartContainer" style="height: 400px; width: 100%;"></div></td></tr>
            </table>
          
          </mat-card>
      
        </div>
        <div class="col-12 col-md-6">
            <mat-card>
              <table id="physical">
                <tr><th>Physical Status by PPA </th></tr>
                <tr><td>  <div id="chartContainer2" style="height: 400px; width: 100%;"></div></td></tr>
              </table>
            
            </mat-card>
        
          </div>
    
      </div>
    <div class="row" [ngClass]="routeAnimationsElements">
      <div class="col-md-12" >
        <h3 >Bayanihan Summary Table</h3>
        
      </div>
    </div>
  
      <!-- <div class="row" [ngClass]="routeAnimationsElements">
        <div class="col"></div>
        <div class="col-12 col-sm-auto"><input type="button" (click)="export()" value="Export to Excel" ></div>
    </div> -->
  
      <div class="row">
        <div class="col-md-12" [ngClass]="routeAnimationsElements">
          <ag-grid-angular
          #agGrid
          style="width: 100%; height: 600px; margin-bottom: 20px;"
          id="myGrid"
          class="ag-theme-balham"
          [columnDefs]="columnDefs"
          [columnTypes]="columnTypes"
          [defaultColDef]="defaultColDef"
          [context]="context"
          [autoGroupColumnDef]="autoGroupColumnDef"
          [rowSelection]="rowSelection"
          [components]="components"
          [modules]="modules"
          [suppressAggFuncInHeader]="true"
          [rowData]="rowData"
          [groupRemoveSingleChildren]="true"

          [groupDefaultExpanded]=-1
          [aggFuncs]="aggFuncs"
          [excelStyles]="excelStyles"
          (cellValueChanged)="onCellValueChanged($event)"
          (gridReady)="onGridReady($event)">
      </ag-grid-angular>
  
          </div>   
        </div>
   
    </div>