<div class="container" rtl>
    <div class="row">
      <div class="col-md-8">
        <h1>Details</h1>
        <div *ngIf="doc">
        <b>Document Code: </b>  {{ doc?.code }} <br>
         <b> Document Type: </b>{{ doc?.type }} <br>
         <b> Date Conducted: </b>{{ doc?.date_conducted }} <br>
         <b> Attached Files: </b>
          <ul>
            <li *ngFor="let f of files; let i = index">{{f.file_name}} - 
              <button type="button" mat-button color="warn" (click)="delete(f, i)"  matTooltip="Detached">
              <fa-icon icon="trash"></fa-icon> </button>
              <button type="button" mat-button color="accent" (click)="loadPdf(f.file_name)"  matTooltip="View">
                <fa-icon icon="eye"></fa-icon>
            </button>
          </li>

          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <h1>Status</h1>
      </div>
      <div class="col-md-12">
        <div *ngIf="isPDF">
          <h2>PDF Viewer</h2>
          <div *ngIf="isLoaded" style="text-align: center;">
            <button (click)="prevPage()" [disabled]="page === 1">Prev</button>
            <span>{{ page }} / {{ totalPages }}</span>
            <button (click)="nextPage()" [disabled]="page === totalPages">Next</button>
            <a [href]='pdfSrc' target="_blank" download>DOWNLOAD FILE</a>
          </div>
          <pdf-viewer [(src)]="pdfSrc" 
          [show-all]="false"
              [page]="page"
              [show-borders]="true"
              [render-text] = "true"
              [external-link-target]="'blank'"
              (after-load-complete)="afterLoadComplete($event)"
  ></pdf-viewer>
     <br>
        </div>
        <div *ngIf="isImage">
          <h2>Image Viewer</h2>
          <img [(src)]="imgSrc" alt="Image Attached" class="image-viewer">
          <br>
        </div>
     

      </div>
    </div>
  </div>
  