

    <div class="row">
        <div class="col-md border">
            <h4 [ngClass]="routeAnimationsElements">REGULAR</h4>
            <span *ngFor="let m of menu">
                <button class="button" mat-raised-button *ngIf="m.cat == 'Regular' " (click)="setPID(m.pid, m.prog)"> {{m.prog }}</button>     
            </span>
        </div>
        <div class="col-md border">
            <h4 [ngClass]="routeAnimationsElements">FPMA</h4>
            <span *ngFor="let m of menu">
                <button class="button" mat-raised-button *ngIf="m.cat == 'FPMA' " (click)="setPID(m.pid, m.prog)"> {{m.prog }}</button>     
            </span>
        </div>
        <div class="col-md border">
            <h4 [ngClass]="routeAnimationsElements">Special Program</h4>
            <span *ngFor="let m of menu">
                <button class="button" mat-raised-button *ngIf="m.cat == 'Special' " (click)="setPID(m.pid, m.prog)"> {{m.prog }}</button>     
            </span>
        </div>
    </div>
    <br>
    <div class="row" [ngClass]="routeAnimationsElements">
  
        <div class="col-12" *ngIf = 'user.b == 3 || user.b == 4 || user.b == 5 '>
            <anms-midyear [pid]="pid" [name]="name"></anms-midyear> 
            <anms-midyear-ob [pid]="pid" [name]="name"></anms-midyear-ob> 
            <anms-midyear-dis [pid]="pid" [name]="name"></anms-midyear-dis> 
      

        </div>
        
      </div>

  