<div *ngIf="!params.node.group">
    <button
      type="button"
      mat-button
      (click)="upload()"
      color="primary"
      matTooltip="Upload Photo"
    >
      <fa-icon icon="upload"></fa-icon>
    </button>
    <button type="button" mat-button matTooltip="View"  color="accent">
      <!-- <a [routerLink]="['/doc/document', params.data.id]" routerLinkActive="active"
        ><fa-icon icon="eye"></fa-icon
      ></a> -->
      <a  routerLinkActive="active"
      ><fa-icon icon="eye"></fa-icon
    ></a>
    </button>
    <!-- <button
      type="button"
      mat-button
      color="warn"
      (click)="delete()"
      matTooltip="Delete"
    >
      <fa-icon icon="trash"></fa-icon>
    </button> -->
  </div>