<div class="container">
  <div class="row">
    <div class="offset-md-2 col-md-8 entry">
      <anms-big-input rtl placeholder="Your Search here..." [value]="newSearch"
      (keyup)="onNewSearchChange($event.target.value)" (keyup.enter)="!isSearchDisabled && onSearch()">
        <anms-big-input-action fontSet="fas" fontIcon="fa-search" 
        faIcon="search" color="accent" [disabled]="isSearchDisabled"  (action)="onSearch()">
        </anms-big-input-action>
      </anms-big-input>
      <div class="col-12 text-center" *ngIf="isSearching">

        <h4>Searching ... </h4>
  
      </div>
      <div class="col-12 text-center" *ngIf="isNoResult">

        <h3>No Search Found... </h3>
  
      </div>
 
    </div>
  </div>
  <br>
  <div class="row align-items-end">
    <div class="col-md-6 col-lg-4" [ngClass]="routeAnimationsElements" *ngFor="let res of apiResponse">
      <mat-card>
        <mat-card-header>
          <mat-card-title>  
            {{res.name}}
             </mat-card-title>
     
             <mat-card-subtitle rtl>
               <span>Category: {{res.category}}</span><br>
               <span>Specification: {{res.spec}}</span>
              
             </mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="(imagePath + res.imageSrc)" alt="Photo">
        <mat-card-content>
          <p>Tags: {{res.tags}} </p>
        </mat-card-content>
        <mat-card-actions>
          <!-- <a mat-button [routerLink]="['/doc/document', res.id]" routerLinkActive="active">
            <fa-icon icon="book"></fa-icon>View
          </a> -->
          <a mat-button target="_blank" routerLinkActive="active" [routerLink]="['/view', res.id, 'details']">
            <fa-icon icon="book"></fa-icon>View
          </a>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>

</div>
